.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  max-width: 1280px;
  width: 100%;
  /*min-width: 320px;*/
  min-height: 100vh;
  padding: 28px 0 24px 0;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page {
    padding: 16px 0 24px 0;
  }
}