.place__image {
  /*padding-bottom: 100%;*/
  min-height: 460px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__image {
    min-height: 440px;
  }
}