.lead {
  width: calc(100% - 100px * 2);
  min-width: 320px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .lead {
    width: 100%;
  }
}